<h1>Listing team_offers</h1>

<table>
  <tr>
    <th>Workstream</th>
    <th>Author</th>
    <th>translation missing: en, field_recipient</th>
    <th>translation missing: en, field_response</th>
    <th>translation missing: en, field_variation</th>
  </tr>

<% @team_offers.each do |team_offer| %>
  <tr>
    <td><%=h team_offer.project_id %></td>
    <td><%=h team_offer.author_id %></td>
    <td><%=h team_offer.recipient_id %></td>
    <td><%=h team_offer.response %></td>
    <td><%=h team_offer.variation %></td>
    <td><%= link_to 'Show', team_offer %></td>
    <td><%= link_to 'Edit', edit_team_offer_path(team_offer) %></td>
    <td><%= link_to 'Destroy', team_offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team_offer', new_team_offer_path %>