<h1>New team_offer</h1>

<% form_for(@team_offer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.label :recipient_id %><br />
    <%= f.text_field :recipient_id %>
  </p>
  <p>
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </p>
  <p>
    <%= f.label :variation %><br />
    <%= f.text_field :variation %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', team_offers_path %>