<p>
  <b>translation missing: en, field_motion:</b>
  <%=h @motion_vote.motion_id %>
</p>

<p>
  <b>User:</b>
  <%=h @motion_vote.user_id %>
</p>

<p>
  <b>translation missing: en, field_points:</b>
  <%=h @motion_vote.points %>
</p>

<p>
  <b>translation missing: en, field_isbinding:</b>
  <%=h @motion_vote.isbinding %>
</p>


<%= link_to 'Edit', edit_motion_vote_path(@motion_vote) %> |
<%= link_to 'Back', motion_votes_path %>
