<% labelled_tabular_form_for :issue, @issue,
                             :url => {:action => 'edit', :id => @issue},
                             :html => {:id => 'issue-form',
                                       :class => nil,
                                       :multipart => true} do |f| %>
    <%= error_messages_for 'issue' %>
    <%= error_messages_for 'time_entry' %>
    <div class="gt-content-box">
    <% if @edit_allowed %>
        <!-- <fieldset class="tabular"><legend><%#= l(:label_change_properties) %>
        <%# if !@issue.new_record? && !@issue.errors.any? %>
        <small>(<%#= link_to l(:label_more), {}, :onclick => '$("#issue_descr_fields").show(); return false;' %>)</small>
        <%# end %>
        </legend> -->
        <%= render :partial => 'form', :locals => {:f => f} %>
        </fieldset>
    <% end %>
    
    <fieldset><legend><%= l(:field_notes) %></legend>
    <%= textile_editor_tag 'notes', @notes, :cols => 60, :rows => 10, :class => 'wiki-edit' %>    
    <p><%=l(:label_attachment_plural)%><br /><%= render :partial => 'attachments/form' %></p>
    </fieldset>
    </div>
    
    <%= f.hidden_field :lock_version %>
  <div class="gt-table-buttons">
        <%= submit_tag l(:button_submit), :disable_with => l(:button_working) %>
  <!-- <p class="gt-cancel">
    <%#= link_to_remote l(:label_preview), 
                       { :url => { :controller => 'issues', :action => 'preview', :project_id => @project, :id => @issue },
                         :method => 'post',
                         :update => 'preview',
                         :with => "$('#issue-form').serialize()",
                         :complete => "$('body').scrollTo('#preview')"
                       }, :accesskey => accesskey(:preview) %>
     </p> -->
     </div>
     <%= textile_editor_initialize(:framework => :jquery) %>
<% end %>

<div id="preview" class="wiki"></div>
