<div class="contextual">
</div>

<h2>Listing motions</h2>

<div class="gt-content-box">
<table class="gt-table">
  <tr>
    <th>&nbsp;</th>
    <th>Title</th>
    <th>State</th>
    <th>Vote Type</th>
    <th>Details</th>
  </tr>

<% @motions.each do |motion| %>
  <tr>
    <td><%= motion.id %></td>
    <td><%= link_to h(motion.title), project_motion_path(@project,motion) %></td>
    <td><%=l "label_motion_state#{h motion.state}" %></td>
    <td><%=l "label_motion_vote_type#{h motion.motion_type}" %></td>
    <td><%=h motion.description %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<% content_for :sidebar do %>
<div class="gt-sidebar-nav gt-sidebar-nav-gray">
  <ul>
  <li>
    <%= link_to 'New motion', new_project_motion_path(@project)%>
  </li>
</div>
<% end %>
