<%= help_section("motion_new") %>

<h2 class="icon icon-motion">New motion</h2>

<% form_for @motion, :url => {:action => "create", :project_id => @project.id} do |f| %>
<div class="gt-content-box">
  <%= f.error_messages %>
  <p>
    <label>Motion type</label>
    <%= select(:motion, :variation, Setting::MOTIONS.collect{|m| [ m[1]["Title"], m[0] ] }.sort,:prompt => l(:label_select)) %>
  </p>
  <p id="Description">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <div id="eligible_users_container"></div>
  <%= observe_field :motion_variation, :url => {:controller => :motions, :action => :eligible_users, :only_path => :false }, :update => :eligible_users_container, :with => 'variation' %>
  </div>
  <p>
  <%= f.submit 'Create' %>
  </p>
  
<% end %>


<%#= link_to 'Back', :controller => "motion", :action => "index", :project_id => @project %>

<script type="text/javascript">
$('document').ready(function(){
  hide_show_fields();
  $("#motion_variation").change(function(){
    hide_show_fields();
  });
  
});

function hide_show_fields(){
  switch(parseInt($("#motion_variation").val())){
    case <%= Motion::VARIATION_NEW_MEMBER %>:
      $("#select_concerned_user").show();
      $("#Description").hide();
      break;
    case <%= Motion::VARIATION_NEW_CORE %>:
      $("#select_concerned_user").show();
      $("#Description").hide();
      break;
    case <%= Motion::VARIATION_FIRE_CORE %>:
      $("#select_concerned_user").show();
      $("#Description").hide();
      break;
    case <%= Motion::VARIATION_FIRE_MEMBER %>:
      $("#select_concerned_user").show();
      $("#Description").hide();
      break;
    default:
      $("#select_concerned_user").hide();
      $("#Description").show();
      break;
  }
}

</script>