<h2>New motion</h2>

<% form_for :motion, @motion, :url => {:action => "create", :project_id => @project} do |f| %>
  <%= f.error_messages %>
<br>
  <p>
    <%= f.label :variation %><br />
    <%= select(:motion, :variation, Setting::MOTIONS.collect{|m| [ l "label_motion_variation#{m[0]}", m[0] ] }.sort ) %>
    <%#= f.text_field :variation %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p class ="hidden" id="select_member">
    <%= f.label :member %><br />
    <%= collection_select(:param, :member, @project.member_list, :user_id, :name, :prompt => l(:label_select)) %>
  </p>
  <p class ="hidden" id="select_core_member">
    <%= f.label :core_member %><br />
    <%= collection_select(:param, :core_member, @project.core_member_list, :user_id, :name, :prompt => l(:label_select)) %>
  </p>
  <p class ="hidden" id="select_contributor">
    <%= f.label :contributor %><br />
    <%= collection_select(:param, :contributor, @project.contributor_list, :user_id, :name, :prompt => l(:label_select)) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => "motion", :action => "index", :project_id => @project %>