<p>
  <b>Workstream:</b>
  <%=h @motion.project_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @motion.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @motion.description %>
</p>

<p>
  <b>translation missing: en, field_variation:</b>
  <%=h @motion.variation %>
</p>

<p>
  <b>translation missing: en, field_params:</b>
  <%=h @motion.params %>
</p>

<p>
  <b>translation missing: en, field_motion_type:</b>
  <%=h @motion.motion_type %>
</p>

<p>
  <b>translation missing: en, field_state:</b>
  <%=h @motion.state %>
</p>
