<h3>Motion: <%=h @motion.title %></h3>
<p>
  <b>Overview:</b>
  <%=h @motion.description %>
</p>

<p>
  <b>translation missing: en, field_variation:</b>
  <%=h @motion.variation %>
</p>

<p>
  <b>translation missing: en, field_params:</b>
  <%=h @motion.params %>
</p>

<p>
  <b>Vote Type</b>
  <%=l "lable_motion_vote_type#{@motion.motion_type}" %>
</p>

<p>
  <b>State</b>
  <%=l "label_motion_state#{@motion.state}" %>
</p>

<%= render :partial => "messages/motion_topic", :locals => {:topic => @motion.topic}
 %>

<% content_for :sidebar do %>
<h3>Voting</h3>
<% end %>
