<!-- Notification sent to users by admin when someone joins an issue that is assigned to them -->
<div class="notification notification-issue-joined" id="notification_<%= @notification.id %>">
<table>
  <tr>
    <td style="vertical-align: top; padding: 23px 10px 0px 0px">
    <%= avatar_from_id(@notification.sender_id) %>
    </td>
    <td>
<h4><%= l("label_someone_joined_your_issue", :joiner => link_to_user_from_id(joiner_id)) %> </h4>

<h5><%= l("label_from_ago" , :author => link_to_user_from_id(@notification.sender_id), :age => time_tag(@notification.created_on)) %></h5>
<%= l(:text_joiner_is_now_working_with_you, :joiner => link_to_user_from_id(joiner_id), :issue => link_to_issue_from_id(issue_id)) %>
<br>
<br>
<%#= link_to(l(:button_view), {:controller => "issue", :action => "view", :id => issue.id}, {:id =>'cr_button', :class => 'icon icon-cr-offer', :target => "_blank"})%>
<!-- &nbsp; -->
<%= link_to_remote(l(:button_mark_as_read), {:url => {:controller => "notifications", :action => "hide", :notification_id => @notification.id, :message => :label_marked_as_read}}, {:id =>'cr_button', :class => 'icon icon-cr-ignore'})%>
    </td>
</tr>
</table>
</div>