<tr class="notification notification-issue-left" id="notification_<%= @notification.id %>">
  <td class="gt-avatar">
    <%= avatar_from_id(@notification.sender_id, :size => '53') %>
  </td>
  <td>
<h4><%= l("label_someone_left_your_issue", :joiner => link_to_user(joiner)) %> </h4>
<%= l(:text_joiner_is_no_longer_working_with_you, :joiner => link_to_user(joiner), :issue => link_to_issue(issue)) %>
<p class="gt-table-action-list">
<%= link_to_remote(l(:button_mark_as_read), {:url => {:controller => "notifications", :action => "hide", :notification_id => @notification.id, :message => :label_marked_as_read}}, {:id =>'cr_button', :class => 'icon icon-cr-ignore'})%>
</p>
    </td>
    <td>
      <table border="0" class="gt-table-categories">
        <tr>
          <td><%= link_to_user_from_id(@notification.sender_id) %></td>
        </tr>
        <tr>
          <td><%= since_tag(@notification.created_at) %> ago</td>
        </tr>
      </table>
    </td>
</tr>
