<!-- Notification partial for team invitation or request (i.e. someone is inviting someone else to join the core team, or is requesting to join the core team) -->
<div class="notification notification-team-offer" id="notification_<%= notification_id %>">
<table>
  <tr>
    <td style="vertical-align: top; padding: 23px 10px 0px 0px">
    <%= avatar_from_id(sender_id) %>
    </td>
    <td>
<h4><%= l("label_team_#{variation_description}") %> : <%= link_to(h(project), {:controller => 'projects', :action => 'team', :id => project_id}) %> </h4>
<h5><%= l("label_from_ago" , :author => link_to_user_from_id(sender_id), :age => time_tag(notification_created_at)) %></h5>
<%= body %>
<br><br>
<%= link_to_remote(l(:button_team_offer_accept), {:url => {:controller => :team_offers, :action => 'update', :id => source_id, :format => :js, :notification_id => notification_id, :response => TeamOffer::RESPONSE_ACCEPTED}, :method => :put}, {:class => 'icon icon-cr-accept'})%>
<%= link_to_remote(l(:button_team_offer_decline), {:url => {:controller => :team_offers, :action => 'update', :id => source_id, :format => :js, :notification_id => notification_id, :response => TeamOffer::RESPONSE_DECLINED}, :method => :put}, {:class => 'icon icon-cr-decline'})%>
&nbsp;
<%= link_to_remote(l(:button_ignore), {:url => {:controller => "notifications", :action => "hide", :notification_id => notification_id, :message => :label_response_ignored}}, {:id =>'cr_button', :class => 'icon icon-cr-ignore'})%>
    </td>
    </tr>
    </table>

</div>