<%# @page_header_name = "My Notifications" %>
<% content_for :mainmenu do %>
  <%= render :partial => 'common/main_menu_home', :locals => {:active_page => :notifications} %>
<% end %>

<h2 class="gt-table-head icon22 icon22-projects"><%=l(:label_notifications)%></h2>
<table border="0" class="gt-table gt-user-table">
  <tbody>
    <% if @notifications.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
      <% @notifications.each do |@notification| %>
          <%= render :partial => @notification.variation, 
                    :locals => @notification.params %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <h2 class="gt-table-head icon22 icon22-projects"><%=l(:label_mentions)%> <%= help_bubble(:help_mentions,{:login => User.current.login}) %></h2>
  <table border="0" class="gt-table gt-user-table">
    <tbody>
      <% if @mentions.empty? %>
      <p class="nodata"><%= l(:label_no_mention) %></p>
      <% else %>
        <% @mentions.each do |@mention| %>
            <%= render :partial => @mention.variation, 
                      :locals => @mention.params %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>