<p>
  <b>translation missing: en, field_recipient:</b>
  <%=h @notification.recipient_id %>
</p>

<p>
  <b>translation missing: en, field_partial_name:</b>
  <%=h @notification.partial_name %>
</p>

<p>
  <b>translation missing: en, field_params:</b>
  <%=h @notification.params %>
</p>

<p>
  <b>translation missing: en, field_response:</b>
  <%=h @notification.response %>
</p>

<p>
  <b>translation missing: en, field_expiration_date:</b>
  <%=h @notification.expiration_date %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
