<% unless @memberships.empty? %>
<h3 class="icon icon-users"><%=l(:label_project_plural)%></h3>
<div class="gt-content-box padded">
<ul>
<% for membership in @memberships %>
  <li><%= link_to(h(membership.project.name_with_ancestors), :controller => 'projects', :action => 'show', :id => membership.project) %><%= volunteering membership.project %><%= privacy membership.project %>&nbsp;
   <%=h membership.roles.sort.collect(&:to_s).join(', ') %></li>
<% end %>
</ul>
</div>
<% end %>
