<h3><%= l(:label_general) %></h3>
<div class="gt-content-box padded">
<%= render :partial => "general_info" %>
</div>

<% unless @reputations.empty? %>
  <h3><%= l(:label_assessment_accuracy) %> <%= help_bubble :help_assessment_accuracy %></h3>
  <div class="gt-content-box padded">
  <ul>
  <% for reputation in @reputations %>
  	<li><%= reputation_value(reputation.reputation_type, reputation.value) %>
  	   - <%= reputation_project(reputation) %>
  	  </li>
  <% end %>
  </ul>
  </div>
<% end %>
