<div class="contextual">
<%= link_to(l(:button_edit), {:controller => 'users', :action => 'edit', :id => @user}, :class => 'icon icon-edit') if User.current.admin? %>
</div>

<h2><%= avatar @user %> <%=h @user.name %></h2>

<div class="splitcontentleft">
<%= render :partial => "reputation" %>
<br><br>
<%= render :partial => "membership" %>
</div>

<div class="splitcontentright">
  <h2 class="gt-table-head">Recent Activity</h2>
  <div class="gt-content-box">
  <%= render :partial => "activity_streams/activity_stream_list", :locals => {:activities_by_item => @activities_by_item} %>
  </div>
</div>

<% html_title @user.name %>
