    <div class="span-12 last" id="header">
      <div class="span-2" id="logo"><a href="/" title="BetterMeans">BetterMeans</a></div>
      <!-- end logo -->
      <div class="span-10 last">
<!-- begin nav -->
<% if User.current.logged? %>
        <ul class="sf-menu" id="topnav">
          <li <%= "class='active'" if page == "/" %>> <a href="/"><span><Dashboard>Home</span></a>
          </li>
          <li <%= "class='active'" if page == "account" %>> <a href="/my/account"><span>Account</span></a>
          </li>
          <!-- <li <%#= "class='active'" if page == "library" %>> <a href="/front/library.html"><span>Library +</span></a>
            <ul>
              <li> <a href="/front/library.html">Overview</a> </li>
              <li> <a href="/front/tutorials.html">Tutorials</a> </li>
              <li> <a href="/front/reference.html">Reference</a></li>
              </li>
            </ul>
          </li> -->
          <li> <a href="/logout"><span>Logout</span></a>
          <li> <a href="/my/account"><span style="color:#ccc"><%= current_user.name %></span></a></li>
        </ul>

<% else %>
        <ul class="sf-menu" id="topnav">
          <li <%= "class='active'" if page == "home" %>> <a href="/front/index.html"><span>home</span></a> </li>
          <!-- <li <%#= "class='active'" if page == "tour" %>> <a href="/front/tour.html"><span>Tour</span></a> </li> -->
          <li <%#= "class='active'" if page == "why" %>> <a href="/front/why.html"><span>why</span></a> </li>
          <li <%= "class='active'" if page == "how" %>> <a href="/front/how.html"><span>how it works</span></a> </li>
          <li <%= "class='active'" if page == "what" %>> <a href="/front/what.html"><span>features</span></a> </li>
          <!-- <li <%= "class='active'" if page == "pricing" %>> <a href="/front/pricing.html"><span>pricing</span></a> </li> -->
          <!-- <li <%#= "class='active'" if page == "library" %>> <a href="/front/library.html"><span>Library +</span></a>
            <ul>
              <li> <a href="/front/library.html">Overview</a> </li>
              <li> <a href="/front/tutorials.html">Tutorials</a> </li>
              <li> <a href="/front/reference.html">Reference</a></li>
              </li>
            </ul>
          </li> -->
          <!-- <li <%#= "class='active'" if page == "services" %>> <a href="/services.html"><span>Services +</span></a>
            <ul>
              <li> <a href="/pricing.html">Pricings</a> </li>
              <li> <a href="/products.html">Products</a> </li>
              <li> <a href="/apps.html">Applications</a> </li>
              <li> <a href="/webdesign.html">Web Development</a> </li>
              <li> <a href="/elements.html">Elements</a>
            </ul>
          </li> -->
          <!-- <li <%#= "class='active'" if page == "contact" %>> <a href="/contact.html"><span>Contact +</span></a> -->
          <li <%= "class='active'" if page == "login" %>>  <a  href="/login"><span>login</span></a>
          <li <%= "class='active'" if page == "register" %>><a href="/front/pricing.html"><span>sign up</span><img src="/images/static/blue_arrow_left.png" id="inviteArrow"/></a></li>
          
          <!-- <li class="sign-up"><a class="sign-up" href="/account/register"><span class="sign-up">Sign Up</span></a><b></b></li> -->
        </ul>

<% end %>
      </div>
      <!-- end nav -->
    </div>
    <!-- end header -->
