<div class="gt-content-box active-projects">
  <h3><%= l(:label_projects_recent) %> <%= link_to l(:label_view_all), {:controller => "my", :action => "projects"}, :class => "floating-h-link" %></h3>
  <table class="gt-table gt-user-table project-table" id="my_projects_table">
      <%   project_tree_sorted(active_projects) do |p, level|
          name_prefix = (level > 0 ? ('&nbsp;' * 4 * level + '&#187; ') : '')
       %>
      <tr><td>
      <%=name_prefix + link_to(h(p), :controller => 'projects', :action => 'show', :id => p)  %><%= volunteering p %><%= privacy p %>
      <% if !p.active? %>
        <%= link_to_remote(l(:label_unarchive_project_brackets), :url => {:controller => 'projects', :action => 'unarchive', :id => p}, :confirm => l(:text_confirm_unarchive_project)) %>
      <% end %>
        <% array = p.activity_line_show(30) %>
        </td>
        <!-- <td>
        <span class="spark right" max="<%=  p.activity_line_max %>"><%#= p.activity_line_show(30) %></span>
        </td> -->
        </tr>
      <% end %>
  </table>
</div>
