<% content_for :mainmenu do %>
  <%= render :partial => 'common/main_menu_home', :locals => {:active_page => :mypage} %>
<% end %>

<% if Notification.unresponded? %>
<div class="flash notice">
  <%=link_to l(:label_waiting_for_you, :notifications => pluralize(Notification.unresponded_count,l(:label_new_notification))) , {:controller => 'notifications', :action => 'index'} %>
</div>
<% end %>

<% if (@news.nil? || @news.length == 0)%>
<div>
  <% if @my_projects.length == 0 %>
  <h2 class="gt-table-head">&nbsp;</h2>
  <div class="gt-content-box centered padded">
    <h4><%= l(:help_no_workstreams) %></h4>
    <p class='nodata'>
       	 <h3> <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'add'})%> </h3>
       	 or
       	 <h3><%= link_to l(:label_browse_workstreams), {:controller => :projects, :action => :index}%></h3>
   	  </p>
  </div>    
  <% end %>
<% else %>
<div class="splitcontentleft">
<% end %>
    <% unless (@my_projects.length) == 0 %>
    <h2 class="gt-table-head"><%=l(:label_activities_i_belong_to)%><%= help_bubble :help_activities_i_belong_to %></h2>
    <div class="activity gt-content-box">
      <%= render :partial => 'activity_streams/activity_stream_list', :locals => {
        :user_id => User.current.id,
        :project_id => nil,
        :with_subprojects => "custom",
        :limit => 30,
        :max_created_at => nil
      } %>
    </div>
    <% end %>
</div>

<% unless (@news.nil? || @news.length == 0)%>
<div class="splitcontentright">
  <%= render :partial => "my/blocks/news", :locals => {:news => @news } %>  
</div>	
<% end %>

<%= help_section("welcome_index",true) %>

<% content_for :sidebar do %>
<h2 class="gt-table-head">&nbsp;</h2>
<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>Quick Links</h3>
  <ul>
  <li>
    <%= link_to l(:label_my_projects), {:controller => 'my', :action => 'projects'} %>
  </li>
  <li>
    <%= link_to l(:label_my_account), {:controller => 'my', :action => 'account'} %>
  </li>
  <li>
    <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project} %>
  </li>
  <li>
    <%= link_to l(:label_browse_workstreams), {:controller => 'projects', :action => 'index'} %>
  </li>
  </ul>
</div>

<%= render :partial => 'active_projects', :locals => {:active_projects => @my_projects} if @my_projects.length > 0 %>

<% end %>

<%# content_for :header_tags do %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'projects', :action => 'activity', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<%# end %>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>