

<div class="splitcontentleft">
  <%#= textilizable Setting.welcome_text %>

  	
  	<%# logger.info @my_projects %>
  	
    <h2 class="gt-table-head"><%=l(:label_my_projects)%></h2>
  	<% if @my_projects.length > 0 %>
  	<% logger.info "projects length #{@my_projects.inspect}" %>
  	<div class="gt-content-box">    
      <table border="0" class="gt-table gt-user-table">
   	      <% @my_projects.each do |p| %>
   	      <tr><td>
   	      <%= link_to(h(p), :controller => 'projects', :action => 'show', :id => p)  %>
   	        <% array = p.activity_line_show(40) %>
   	        </td><td>
   	        <span class="spark right" max="<%=  p.activity_line_max %>"><%= p.activity_line_show(40) %></span>
   	        </td></tr>
   	      <% end %>
      </table>
    </div>
    <div class="gt-table-buttons">
    </div>
    <% else %>
    <div class="gt-content-box">
      <p class='nodata'>
<%=         link_to("Create a workstream", {:controller => 'projects', :action => 'add', :parent_id => @project})
 %>        
      </p>
      
    </div>
    <% end %>
  
  
  <h2 class="gt-table-head"><%=l(:label_activity_latest)%></h2>  
  <div class="activity gt-content-box">
    <%= render :partial => 'activity_streams/activity_stream_list', :locals => {:activities_by_item => @activities_by_item} %>
  </div>  
  <div class="gt-table-buttons">
    <%= link_to l(:label_activity_view_all), {:controller => 'projects', :action => 'activity'} , :class => "gt-btn-blue-large" %>
	</div>
	
  
</div>

<div class="splitcontentright">
    <% if @enterprises.any? %>
  <h2 class="gt-table-head icon22 icon22-projects"><%=l(:label_enterprise_latest)%></h2>
	<div class="gt-content-box">
	  <table border="0" class="gt-table gt-user-table">
			<tbody>
				  <% for project in @enterprises %>
				  <tr>
      			<td>
      			<h4><%= link_to h(project.name), :controller => 'projects', :action => 'show', :id => project %></h4>
      			<p><%= textilizable project.short_description, :project => project %></p>
            <!-- <p class="gt-table-edit"><a href="">Edit</a></p> -->
						</td>
						<td>
  						<!-- Categories Sub Table -->
  						<table border="0" class="gt-table-categories">
  							<tr>
  								<td colspan="2"><span class="spark right" max="<%= project.activity_line_max %>"><%= project.activity_line_show(30) %></span></td>
  							</tr>
  							<tr>
  								<td colspan="2">&nbsp;</td>
  							</tr>
  							<tr>
  								<th>Created:</th>
  								<td><%= since_tag(project.created_on) %> ago</td>
  							</tr>
  							<tr>
  								<th>Team:</th>
  								<td><%= project.all_members.count %> members</td>
  							</tr>
  						</table>
  					</td>
      		</tr>
      		<% end %>
					
			</tbody>
		</table>
	</div><!-- /Content Box -->
	<div class="gt-table-buttons">
	  <%= link_to l(:label_browse_workstreams), {:controller => :projects, :action => :index}, :class => "gt-btn-blue-large" %>
	</div>
	<% end %>  
  
</div>	


<% content_for :sidebar do %>
<h2 class="gt-table-head">&nbsp;</h2>
<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>Quick Links</h3>
  <ul>
  <li>
    <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project} %>
  </li>
  <li>
    <%= link_to l(:label_browse_workstreams), {:controller => 'projects', :action => 'index'} %>
  </li>
  <li>
    <%= link_to l(:label_my_account), {:controller => 'my', :action => 'account'} %>
  </li>
  </ul>
</div>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%= auto_discovery_link_tag(:atom, {:controller => 'projects', :action => 'activity', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>