<%# @page_header_name = "My Page" %>
<% content_for :mainmenu do %>
  <%= render :partial => 'common/main_menu_home', :locals => {:active_page => :mypage} %>
<% end %>

<%= help_section("welcome_index",true) %>

<% if Notification.unresponded? %>
<div class="flash notice">
  <%=link_to l(:label_waiting_for_you, :notifications => pluralize(Notification.unresponded_count,l(:label_new_notification))) , {:controller => 'notifications', :action => 'index'} %>
</div>
<% end %>

  <% if @my_projects.length == 0 %>
  <div class="gt-content-box centered padded">
    <h4><%= l(:help_no_workstreams) %></h4>
    <p class='nodata'>
       	 <h3> <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'add'})%> </h3>
       	 <h3><%= link_to l(:label_browse_workstreams), {:controller => :projects, :action => :index}%></h3>
   	  </p>
  </div>    
  <% else %>
    <h2 class="gt-table-head icon icon-activity"><%=l(:label_activities_i_belong_to)%><%#= help_bubble :help_activities_i_belong_to %></h2>
    <div class="activity">
      <%= render :partial => 'activity_streams/activity_stream_list', :locals => {
        :user_id => User.current.id,
        :project_id => nil,
        :with_subprojects => "custom",
        :limit => 30,
        :max_created_at => nil
      } %>
    </div>
    <% end %>

<% content_for :sidebar do %>
<%  if @my_projects.length > 0 %>
  <h2 class="icon icon-projects"><%= l(:label_projects_recent) %> <%= link_to l(:label_view_all), {:controller => "my", :action => "projects"}, :class => "floating-h-link" %></h2>
  <div class="gt-content-box active-projects">
  <%= render :partial => 'projects/projects_list_simple', :locals => {:projects => @my_projects, :max_count => 10} %>
  </div>
<% end %>

<%= render :partial => "my/blocks/news", :locals => {:news => @news, :maxcount => 2 } %>  

<%  if @assigned_issues.length > 0 %>
  <h2 class="icon icon-issues"><%= l(:label_my_issues) %><%= link_to l(:label_view_all), {:controller => "my", :action => "issues"}, :class => "floating-h-link" %></h2>
  <%= render :partial => "issues/list_very_simple", :locals => {:issues => @assigned_issues} %>
<% end  %>
  
<% end %>


<% content_for :actionmenu do %>
    <ul>    
    <li>
      <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project}, :class => "icon icon-add" %>
    </li>
    </ul>
    <ul>
    <li>
      <%= link_to l(:label_browse_workstreams), {:controller => 'projects', :action => 'index'}, :class => "icon icon-projects" %>
    </li>
    </ul>
<% end %>

<%# content_for :header_tags do %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'projects', :action => 'activity', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<%# end %>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>