  <tr>
		<td>
		<h4>  
		  <%= link_to(h(news.project.name), :controller => 'projects', :action => 'show', :id => news.project) + ': ' unless @project %>
      <%= link_to h(news.title), :controller => 'news', :action => 'show', :id => news %>
    </h4>
		<p><%=h news.summary %></p>
    <!-- <p class="gt-table-edit"><a href="">Edit</a></p> -->
		</td>
		<td>
			<!-- Categories Sub Table -->
			<table border="0" class="gt-table-categories">
				<tr>
					<td><%= link_to_user(news.author) %>, <%= since_tag(news.created_at) %> ago
					  <% if news.comments_count > 0 %>
    					, <%=link_to l(:label_x_comments, :count => news.comments_count), :controller => 'news', :action => 'show', :id => news %>
    				<% end %>
          </td>
				</tr>
			</table>
		</td>
	</tr>
