<%= help_section("project_news") %>

<div id="add-news" style="display:none;">
<h2><%=l(:label_news_new)%></h2>
<% labelled_tabular_form_for :news, @news, :url => { :controller => 'news', :action => 'new', :project_id => @project },
                                           :html => { :id => 'news-form' } do |f| %>
<%= render :partial => 'news/form', :locals => { :f => f } %>
<div class="gt-table-buttons">
<%= submit_tag l(:button_create), :disable_with => l(:button_working) %>
<p class="gt-cancel">
<%= link_to_remote l(:label_preview), 
                   { :url => { :controller => 'news', :action => 'preview', :project_id => @project },
                     :method => 'post',
                     :update => 'preview',
                     :with => "$('#news-form').serialize()"
                   }, :accesskey => accesskey(:preview) %> |
<%= link_to l(:button_cancel), "#", :onclick => '$("#add-news").hide()' %>
</p>
</div>
<% end if @project %>
<div id="preview" class="wiki"></div>
<br><br>
</div>

<h2 class="gt-table-head"><%=l(:label_news_plural)%></h2>
<div class="gt-content-box">    
<% if @newss.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<table border="0" class="gt-table gt-user-table">
  <tbody>

<% @newss.each do |news| %>
<tr>
  <td>
  <h4>
    <%= link_to(h(news.project.name), :controller => 'projects', :action => 'show', :id => news.project) + ': ' unless news.project == @project %>
    <%= link_to h(news.title), :controller => 'news', :action => 'show', :id => news %>
    <%= "(#{l(:label_x_comments, :count => news.comments_count)})" if news.comments_count > 0 %>
    </h4>
    <%= textilizable(news.description) %>
  </td>
  <td>
		<!-- Categories Sub Table -->
		<table border="0" class="gt-table-categories">
			<tr>
				<td><%= link_to_user_from_id(news.author) %></td>
			</tr>
			<tr>
				<td><%= since_tag(news.created_at) %> ago</td>
			</tr>
		</table>
	</td>
</tr>

<% end %>
  </tbody>
</table>
<!-- Table Controls -->
<div class="gt-table-controls gt-table-controls-btm clearfix">
	<p class="gt-table-pager"><%= pagination_links_full @news_pages %></p>
</div><!-- /Table Controls -->
<% end %>
</div>


<%# other_formats_links do |f| %>
	<%#= f.link_to 'Atom', :url => {:project_id => @project, :key => User.current.rss_key} %>
<%# end %>

<% content_for :sidebar do %>
<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <!-- <h3><%=l(:label_quick_links)%></h3> -->
  <ul>
  <li>
    <%= link_to_if_authorized(l(:label_news_new),
                              {:controller => 'news', :action => 'new', :project_id => @project},
                              :class => 'icon icon-add',
                              :onclick => '$("#add-news").show(); $("#news_title").focus(); return false;') if @project %>
  </li>
  </ul>
</div>
<% end %>

<%# content_for :header_tags do %>
  <%#= auto_discovery_link_tag(:atom, params.merge({:format => 'atom', :page => nil, :key => User.current.rss_key})) %>
<%# end %>

<% html_title(l(:label_news_plural)) -%>
