<% form_tag({:action => 'edit', :tab => 'issues'}) do %>

<div class="gt-content-box tabular settings">
<p><%= setting_check_box :cross_project_issue_relations %></p>

<p><%= setting_check_box :display_subprojects_issues %></p>


<p><%= setting_text_field :issues_export_limit, :size => 6 %></p>
</div>

<fieldset class="gt-content-box settings"><legend><%= l(:setting_issue_list_default_columns) %></legend>
<%= setting_multiselect(:issue_list_default_columns,
        Query.new.available_columns.collect {|c| [c.caption, c.name.to_s]}, :label => false) %>
</fieldset>

<div class="gt-table-buttons">
<%= submit_tag l(:button_save), :disable_with => l(:button_working) %>
</div>
<% end %>
