<p>help section</p>
<%= @help_section.id %>
<%= @help_section.name %>
<%= @help_section.show %>
<%= link_to 'Edit', edit_help_section_path(@help_section) %> |
<%= link_to 'Back', help_sections_path %>
