<h1>Listing invitations</h1>

<table>
  <tr>
    <th>User</th>
    <th>Workstream</th>
    <th>translation missing: en, field_token</th>
    <th>Status</th>
    <th>Role</th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%=h invitation.user_id %></td>
    <td><%=h invitation.project_id %></td>
    <td><%=h invitation.token %></td>
    <td><%=h invitation.status %></td>
    <td><%=h invitation.role %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invitation', new_invitation_path %>