<h2>Listing invitations sent by you for <%= @project.name %></h2>

<div class="gt-content-box padded">
<table border="0" class="gt-table gt-user-table">
  <tbody>
  <tr>
    <th>User</th>
    <th>Role</th>
    <th>Sent</th>
    <th>Accepted</th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr id="row-<%= invitation.id %>">
    <td><%=h invitation.mail %></td>
    <td><%=h invitation.role.name %></td>
    <td><%=format_time_ago invitation.created_at %></td>
    
    <%if invitation.status == Invitation::ACCEPTED %>
      <td><div class="icon icon-cr-accept"><%= format_time_ago invitation.updated_at  %></div></td>
    <% else %>
    <td><%= link_to_remote l(:button_resend), 
      :url => {:controller => :invitations, :action => :resend, :id => invitation, :project_id => @project},
      :html => {:class => "icon icon-cr-offer"}
     %>
    <%#= prompt_input_to_remote(invitation.id, l(:button_resend), "Personalize your reminder", l(:text_resend_invite_message), "", {:controller => :invitations, :action => :resend, :id => invitation, :project_id => @project}, false, html_options = {:class => "icon icon-cr-offer", :id => "resend-#{invitation.id}"}) %>
    &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to_remote l(:button_delete), 
        :url => {:controller => :invitations, :action => :destroy, :id => invitation, :project_id => @project},
        :confirm => "Are you sure?",
        :html => {:class => "icon icon-del"}
       %>
       </td>
    <% end %>
    <td><%#= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<!-- Table Controls -->
<div class="gt-table-controls gt-table-controls-btm clearfix">
	<p class="gt-table-pager"><%= pagination_links_full @all_invites %></p>
</div><!-- /Table Controls -->

</div>

<br />

<% content_for :sidebar do %>
<h2>&nbsp;</h2>
<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>Quick Links</h3>
  <ul>
  <li>
    <%= link_to l(:label_login), {:controller => :account, :action => :login} unless User.current.logged? %>
  </li>
  <li>
    <%= link_to l(:label_dashboard), {:controller => :projects, :action => :dashboard, :id => @project} %>
  </li>
	<% if User.current.allowed_to?(:send_invitations, @project) %>
	<li>
		<%= link_to l(:label_invitation_new), new_project_invitation_url(@project) %>
	</li>
	<% end %>
  </ul>
</div>
<% end %>

<%#= link_to 'New invitation', new_invitation_path %>

<script type="text/javascript">
function send_remote(url,param,note){
  console.log("whatever");
	$.ajax({
	   type: "POST",
	   dataType: "json",
	   url: url,
	   data: '&note=' + note + param,
		timeout: 30000 //30 seconds
	 });
}
</script>