<h2><%= l(:text_invite_others_to_contribute)  %>&nbsp;<%= @project.name %><%= help_bubble(:text_generic_invitation_long) %></h2>
  <%= render :partial => 'generic_invitation', :locals => {:project => @project} %>
  <br><br>
<h2><%= l(:text_invite_others_to_contribute_personal)  %><%= help_bubble(:text_personal_invitation) %></h2>
<% form_tag({:action => 'create', :project => @project}, :method => 'post') do %>
<div class="gt-left-col">

  <label><%= l(:text_email_instruction) %></label>
  <%= text_area_tag :emails, @emails, :class => 'wiki-edit', :rows => 10, :colums => 60 %><br><br >
  <label><%= l(:text_personalize_invitations) %></label>
  <%= text_area_tag :note, @note, :class => 'wiki-edit', :rows => 10, :colums => 60 %>
  
  
</div>
<div class="gt-right-col">
  <% @roles = Role.find(:all, :conditions => ["level = ? AND position >= ?", Role::LEVEL_ENTERPRISE, User.current.admin_of?(@project) ? Role.administrator.position : Role.contributor.position], :order => "position DESC") %>
  <label><%= l(:text_invite_role_instruction) %> <%= collection_select( :invitation, :role_id, @roles, :id, :name, :selected => Role.contributor.id ) %></label>
  
  <%= observe_field(:invitation_role_id, :frequency => 0.25, :function => "update_description();") %>
  
  <%#= select(:invitation, :role_id, @roles.collect{|role| [role.name, role.id]}, :selected => Role.contributor.id) %>
  <div class="gt-content-box padded" id="role-description">
  </div>
  
  <p>
    <%= submit_tag 'Send Invitations', :disable_with => "working..." %>
  </p>
  
</div>
<% end %>

<% content_for :sidebar do %>
<% end %>

<% content_for :sidebar do %>
<h2 class="gt-table-head">&nbsp;</h2>
<%= help_section "invitation_new" %>
<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>Quick Links</h3>
  <ul>
    <li>
      <%= link_to l(:label_login), {:controller => :account, :action => :login} unless User.current.logged? %>
    </li>
    <li>
      <%= link_to l(:label_dashboard), {:controller => :projects, :action => :dashboard, :id => @project} %>
    </li>
  	<% if User.current.allowed_to?(:manage_invitations, @project) %>
      <li><%= link_to(l(:label_track_invites), {:controller => :invitations, :action => :index}) %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

<%#= link_to 'Back', invitations_path %>

<script type="text/javascript">
  <% @roles.each do |r| %>
    var <%= r.name.gsub(/ /,"_")  %>_description = "<%= l("text_role_invitation_description_#{r.name.gsub(/ /,"_")}") %>";
  <% end  %>
  
  $(document).ready(function(){
    update_description();
  });
  
  function update_description(){
    var id = $('#invitation_role_id').val();
    var name = $('#invitation_role_id option[value=\'' +  id + '\']').text();
    var html = "";
    html = html + "<strong>" + name + "</strong><br><br>";
    html = html + eval(name.replace(" ","_") + '_description') + "<br><br>";
    
    $('#role-description').html(html);
  }
</script>