<% 
@members_active = @project.active_members
if @members_active.any? 
  %>
<!-- Shows active members -->
<h2 class="gt-table-head icon icon-users"><%=l(:label_active_team)%><%= help_bubble(:text_active_team_explanation) %></h2>	
<div class="members">
  <table border="0">
		<tbody>
    	<% @members_active.each do |member| %>
    	<tr>
    	  <td>
    	  <div class="gt-avatar-box">
    	    <%= avatar(member.user) %><br>
  	    </div>
    	  </td>
    	  <td>
    	    <%= link_to_user member.user %><br>
    	  </td>
      </tr>
    	<% end %>
    	<% if User.current.allowed_to?(:send_invitations, @project)  && @project.root? %>
    	<tr><td colspan=2 style="text-align:center">
    	 <%= link_to l(:label_invitation_others), new_project_invitation_url(@project) %>
    	</td></tr>
    	</li>
    	<% end %>
    	<% unless @hide_view_team_link %>
    	<tr><td colspan=3 style="text-align:center">
    	 <%= link_to l(:label_team_view_all_enterprise), {:controller => 'projects', :action => 'team', :id => @project.root} %>
    	</td></tr>
    	<% end %>
	  </tbody>
	</table>
</div>
<% end %>