<div class="project-summary">
<h4><%= link_to h(project.name), :controller => 'projects', :action => 'show', :id => project %><span class="spark right" max="<%= project.activity_line_max %>"><%= project.activity_line_show(30) %></span>
</h4>
<h5><%= project.all_members.count %> members. created <%= since_tag(project.created_at) %> ago </h5>
<p><%= make_expandable((textilizable project.short_description, :project => project),250) %></p>
<!-- <p class="gt-table-edit"><a href="">Edit</a></p> -->
</div>