<% count = 0
   max_count ||= 5
 %>
  <table class="gt-table gt-user-table project-table" id="my_projects_table">
      <%   project_tree_sorted(projects) do |p, level|
          name_prefix = (level > 0 ? ( '&#187; ') : '')
          count = count + 1
       %>
      <tr class="active-project-row <%= "hidden" if count > max_count %>">
        <td>
          <%=name_prefix + link_to(h(p), :controller => 'projects', :action => 'show', :id => p)  %><%= volunteering p %><%= privacy p %>
          <% if !p.active? %>
            <%= link_to_remote(l(:label_unarchive_project_brackets), :url => {:controller => 'projects', :action => 'unarchive', :id => p}, :confirm => l(:text_confirm_unarchive_project)) %>
          <% end %><br>  <span class="spark" max="<%= p.activity_line_max %>"><%= p.activity_line_show(45) %></span>
          
        </td>
      </tr>
      </tr>
      <% end %>
      <tr class="active-project-show-more show-more <%= "hidden" unless count > max_count %>">
        <td colspan="2">
          <a href="" onclick="$('.active-project-row').show();$('.active-project-show-more').hide();display_sparks();return false;">Show <%= count - max_count %> more ...</a>
        </td>
      </tr>
  </table>

