 	      <% subprojects.each do |p| %>
 	      <tr><td>
 	      <%= link_to(("&nbsp;&nbsp;&#187;&nbsp;" * level) + h(p), :action => 'show', :id => p)  %><%= volunteering p %><%= privacy p %>
 	        <% array = p.activity_line_show(30) %>
 	        </td><td>
 	        <span class="spark right" max="<%=  p.activity_line_max %>"><%= p.activity_line_show(30) %></span>
 	        </td></tr>
 	      <% @subprojects = p.children.active.find(:all, :order => 'name ASC') %>
 	      <%= render :partial => 'subprojects', :locals => {:subprojects => @subprojects, :level => level + 1} %>
 	      <% end %>
