<%= help_section("project_activity") %>

<h2 class="gt-table-head"><%= @author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author)) %><div class="spark right spark-top" max="<%= @project.activity_line_max if @project %>"><%= @project.activity_line_show(60) if @project %></div></h2>
<!-- <p class="subtitle"><%#= l(:label_date_from_to, :start => format_date(@date_to - @days), :end => format_date(@date_to-1)) %></p>
<br> -->
<div class="gt-content-box">
<%= render :partial => 'activity_streams/activity_stream_list', :locals => {
  :user_id => params[:user_id],
  :project_id => @project ? @project.id : nil,
  :with_subprojects => params[:with_subprojects],
  :limit => 50,
  :max_created_at => nil
  }
%>
</div>
<!-- <%# other_formats_links do |f| %>
  <%#= f.link_to 'Atom', :url => params.merge(:from => nil, :key => User.current.rss_key) %>
<%# end %>

<%# content_for :header_tags do %>
<%#= auto_discovery_link_tag(:atom, params.merge(:format => 'atom', :from => nil, :key => User.current.rss_key)) %>
<%# end %>
-->
<% content_for :sidebar do %>
<%= project_image @project %>

<%# form_tag({}, :method => :get) do %>
<!-- <h3><%#= l(:label_activity) %></h3> -->
<!-- <p><%# @activity.event_types.each do |t| %>
<%#= check_box_tag "show_#{t}", 1, @activity.scope.include?(t) %>
<%#= link_to(l("label_#{t.singularize}_plural"), {"show_#{t}" => 1, :user_id => params[:user_id]})%>
<br />
<%# end %></p>
<%# if @project && @project.descendants.active.any? %>
    <%#= hidden_field_tag 'with_subprojects', 0 %>
    <p><label><%#= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%#=l(:label_subproject_plural)%></label></p>
<%# end %>
<%#= hidden_field_tag('user_id', params[:user_id]) unless params[:user_id].blank? %>
<p><%#= submit_tag l(:button_apply), :class => 'button-small', :name => nil, :disable_with => l(:button_working) %></p>
<%# end %>
-->
<% end %> 
<% html_title(l(:label_activity), @author) -%>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>