<% content_for :mainmenu do %>
  <%= render :partial => 'common/main_menu_home', :locals => {:active_page => :newproject} %>
<% end %>


<h2><%=l(:label_project_new)%></h2>

<% labelled_tabular_form_for :project, @project, :url => { :action => "add" }, :html => { :multipart => true }  do |f| %>

<%= render :partial => 'form', :locals => { :f => f, :include_modules => true } %>

<div class="gt-table-buttons">
<%= submit_tag l(:button_save), :disable_with => l(:button_working) %>
</div>
<%= javascript_tag "$('#project_name').focus();" %>
<% end %>

<% content_for :sidebar do %>
<h2 class="gt-table-head">&nbsp;</h2>
<%= help_section("project_new") %>
<% end %>
