<%= help_section("project_new") %>

<h2><%=l(:label_project_new)%></h2>

<% labelled_tabular_form_for :project, @project, :url => { :action => "add" }, :html => { :multipart => true }  do |f| %>

<%= render :partial => 'form', :locals => { :f => f, :include_modules => true } %>

<div class="gt-table-buttons">
<%= submit_tag l(:button_save) %>
</div>
<%= javascript_tag "$('#project_name').focus();" %>
<% end %>
