<h2><%=l(:label_attachment_new)%></h2>

<%= error_messages_for 'attachment' %>
<div class="gt-content-box">
<% form_tag({ :action => 'add_file', :id => @project }, :multipart => true, :class => "tabular") do %>

<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>
<div class="gt-table-buttons">
<%= submit_tag l(:button_add), :disable_with => l(:button_working) %>
</div>
<% end %>
