<!-- <div class="contextual">
  <%#= render :partial => 'credits_link', :locals => {:project => @project}%>
</div> -->

<h2><%=l(:label_credits) %></h2>
<div id="credits">
  <div class="half-page">
  <%= render :partial => 'credits/credit_queue', :locals => {:credits => @credits}%>
  </div>
  <div class="half-page">
  <%= render :partial => 'credits/credit_history', :locals => {:credits => @credits}%>
  </div>

  <% if authorize_for(:credits, :create) %>
  <%= link_to 'New credit', new_credit_path %>
  <% end %>
  
  
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'credits/my_credits', :locals => {:credits => @credits}%>
    <h3><%=l(:label_credits_breakdown)%></h3>
    <%= render :partial => 'credits/credit_breakdown', :locals => {:group_credits => @active_credits, :title => l(:label_active_credits)}%>
    <br><br><br><br>
    <%= render :partial => 'credits/credit_breakdown', :locals => {:group_credits => @oustanding_credits, :title => l(:label_outstanding_credits)}%>
    <br><br><br><br>
    <%= render :partial => 'credits/credit_breakdown', :locals => {:group_credits => @total_credits, :title => l(:label_total_credits_issued)}%>
<% end %>

<% html_title(l(:label_credits)) %>