<% @page_header_name = l(:label_browse_workstreams) %>
<%= help_section "browse_workstreams" %>
<!-- <h2><%#=l(:label_browse_workstreams)%></h2> -->

<!-- <h1><%#= l(:label_home) %></h1> -->

<div class="splitcontentright">
    <% if @latest_enterprises.any? %>
  <h2 class="gt-table-head icon icon-projects"><%=l(:label_enterprise_latest)%></h2>
  <div class="gt-content-box">
    <%= render :partial => 'project_list', :locals => {:projects => @latest_enterprises, :offset => 0, :index_type => 'latest', :offset => 10} %>
  </div>

  <!-- <div class="gt-table-buttons">
    <%#= link_to l(:label_browse_workstreams), {:controller => :projects, :action => :index}, :class => "gt-btn-blue-large" %>
  </div> -->
  <% end %>
</div>

<div class="splitcontentleft">
    <% if @active_enterprises.any? %>
  <h2 class="gt-table-head icon icon-projects"><%=l(:label_enterprise_active)%></h2>
  <div class="gt-content-box">
  <%= render :partial => 'project_list', :locals => {:projects => @active_enterprises, :offset => 0, :index_type => 'active', :offset => 10} %>
  </div>
  <!-- <div class="gt-table-buttons">
    <%#= link_to l(:label_browse_workstreams), {:controller => :projects, :action => :index}, :class => "gt-btn-blue-large" %>
  </div> -->
  <% end %>
</div>

<% content_for :actionmenu do %>
    <ul>
    <li>
      <%= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project}, :class => "icon icon-add" %>
    </li>
    </ul>
    <ul>
    <!-- <li>
      <%#= link_to l(:label_all_activity), {:controller => 'projects', :action => 'activity', :id => nil}, :class => "icon icon-activity" %>
    </li> -->
    </ul>
<% end %>

<%# content_for :header_tags do %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'news', :action => 'index', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_news_latest)}") %>
<%#= auto_discovery_link_tag(:atom, {:controller => 'projects', :action => 'activity', :key => User.current.rss_key, :format => 'atom'},
                                   :title => "#{Setting.app_title}: #{l(:label_activity)}") %>
<%# end %>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>


<%# other_formats_links do |f| %>
  <%#= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<%# end %>

<% html_title(l(:label_project_plural)) -%>
