<h2><%= l(:label_move_project) %></h2>


<% form_tag({}, :id => 'move_form') do %>
<%= hidden_field_tag('id', @project.id) %>

<div class="gt-content-box tabular">
  <p>
    <%= link_to_project @project %>
  </p>
<p><label for="parent_id"><%=l(:field_parent_project)%>:</label>
<%= select_tag "parent_id",
               project_tree_options_for_select(@allowed_projects, :selected => @project.parent),
               :onchange => remote_function(:url => { :action => 'move' },
                                            :method => :get,
                                            :update => 'content',
                                            :with => "Form.serialize('move_form')") %></p>

</div>

	<%= submit_tag l(:button_move), :disable_with => l(:button_working) %>
<% end %>

