<!-- <h1><%#=l(:label_overview)%></h1>  -->
<%= help_section("project_show") %>

<div>
  <h2 class="gt-table-head icon icon-activity"><%=l(:label_activity_latest)%></h2>  
  <div class="activity">
    <%= render :partial => 'activity_streams/activity_stream_list', :locals => {
      :user_id => params[:user_id],
      :project_id => @project.id,
      :with_subprojects => params[:with_subprojects],
      :limit => 20,
      :max_created_at => nil
    } %>
  </div>  
</div>

<% content_for :actionmenu do %>
<ul>
  <li>
    <%= link_to l(:label_login), {:controller => :account, :action => :login} unless User.current.logged? %>
  </li>
<% if User.current.allowed_to?(:add_subprojects, @project) %>
<li>
	<%= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'add', :parent_id => @project}, :class => "icon icon-add" %>
</li>
<% end %>
<% if User.current.allowed_to?(:send_invitations, @project) && @project.root? %>
<li>
	<%= link_to l(:label_invitation_new), new_project_invitation_url(@project), :class => "icon icon-users" %>
</li>
<% end %>
<li>
<%= link_to_if_authorized l(:label_motions_new), {:controller => 'motions', :action => 'new', :project_id => @project}, :class => "icon icon-motion" %>
</li>
<% if @project && @project.module_enabled?(:issue_tracking) %>
<!-- <li>
  <%#= render_new_item_jump_box %>
</li> -->
<% end %>
</ul>
<% end %>

<% content_for :secondnav do %>
<% if @project.enterprise? %>
  <%= render :partial => "member_box_simple" %>
<% else %>
  <%= render :partial => "active_member_box_simple" %>
  <%= render :partial => "clearance_member_box_simple" unless @project.is_public %>    
<% end %>

<% end %>


<% content_for :sidebar do %>
<% if @project.description.length > 0 %>
  <div class="gt-sidebar-content">
  <h2 class="icon icon-project"><%=h @project.name %></h2>
  <%= make_expandable ((textilizable @project.description), 80) %>	
  </div>
<% end %>

<% if @motions.any? %>
<h2 class="icon icon-motion"><%=l(:label_motions_active)%></h2>  
<div class="motions gt-content-box">
  <%= render :partial => 'motions/motions', :locals =>{:motions => @motions, :max_count => 2} %>
</div>  
<% end %>

<% if @news.any? && authorize_for('news', 'index') %>
<h2 class="icon icon-news"><%=l(:label_news_latest)%></h2>  
<div class="news gt-content-box">
  <%= render :partial => 'news/news', :locals => {:max_count => 2} %>
</div>
<% end %>

<%  if @subprojects.any? %>
  <h2 class="icon icon-projects"><%= l(:label_subproject_plural) %></h2>
  <div class="gt-content-box active-projects">
  <%= render :partial => 'projects/projects_list_simple', :locals => {:projects => @subprojects, :max_count => 7} %>
  </div>
<% end %>
  
<!-- <div class="gt-sidebar-content">
<h3>30-day Activity Timeline</h3>
<div class="spark" max="<%= @project.activity_line_max %>"><%#= @project.activity_line_show(30) %></div>
</div> -->
<% if User.current.allowed_to?(:view_issues, @project) && false %>
    <div class="gt-sidebar-nav gt-sidebar-nav-gray">
    <h3><%=l(:label_issue_tracking)%></h3>
    <ul>
            <% for tracker in @trackers %>    
              <li><div style="float:right;width:70%">
                  <%= link_to l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
									:total => @total_issues_by_tracker[tracker].to_i), :controller => 'issues', :action => 'index', :project_id => @project, 
                                                        :set_filter => 1, 
                                                        "tracker_id" => tracker.id %></div>
									<div style="width:30%;"><%= link_to tracker.name, :controller => 'issues', :action => 'index', :project_id => @project, 
                                                        :set_filter => 1, 
                                                        "tracker_id" => tracker.id %></div>
          		</li>
            <% end %>
    </ul>
    </div>
<% end %>
    
<% if @project.credits_enabled? && false%>
    
      <div class="gt-sidebar-content">
        <h3><%= l(:label_dpp_scale) %><span><%= help_bubble :help_dpp %></span></h3>
        <p><%= render :partial => 'point_scale', :locals => { :dpp => @project.dpp.round, :unit => unit_for(@project) } unless @project.dpp.nil? %></p>
      </div>    
    <% end %>
<% end %>

<%# content_for :header_tags do %>
<%#= auto_discovery_link_tag(:atom, {:action => 'activity', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
<%# end %>

<% html_title(l(:label_overview)) -%>

<script>
  $('document').ready(function(){
    display_sparks();
  });
</script>