<%= error_messages_for 'relation' %>

<p><%= f.select :relation_type, collection_for_relation_type_select, {}, :onchange => "setPredecessorFieldsVisibility();" %>
<%= l(:label_issue) %> #<%= f.text_field :issue_to_id, :size => 10, :class => "short issue-relation" %>
<span id="predecessor_fields" style="display:none;">
<%= l(:field_delay) %>: <%= f.text_field :delay, :size => 3, :class => "short" %> <%= l(:label_day_plural) %>
</span>
<%= submit_tag l(:button_add), :disable_with => l(:button_working) %>
<%= toggle_link l(:button_cancel), 'new-relation-form'%>
</p>

<%= javascript_tag "bind_relations_autocomplete(#{@project.id});" %>
<%#= javascript_tag "setPredecessorFieldsVisibility();" %>
