<span id="credit_history_partial">
<h2 class="gt-table-head"><%=l(:label_credit_history) %></h2>
<div class="gt-content-box">
  <%  @credits_by_day = @credits.group_by{|credit| credit.issued_on.to_date}
    unit = unit_for(@project)
  
    if @credits_by_day.length == 0
   %>
  <%=     content_tag 'p', l(:label_no_data), :class => "nodata" %>
  <% else %>
  
  <table border="0" class="gt-table gt-user-table">
		<tbody>
    <%  
        @credits_by_day.sort { |b,a| a[0] <=> b[0] }
        @credits_by_day.each do |cbd|
    %>
    <tr>
        <th><%= cbd[0].to_s %></th>
      </tr>
         <% cbd[1].each do |credit|%>
   <tr id="h_<%= credit.id %>">
      <td class="currency"><%=h number_to_currency credit.amount.round.to_i, :unit => unit, :separator => ".", :delimiter => ",", :precision => 0 %></td>
      <td><%=link_to_user_from_id credit.owner_id %></td>
      <td><%=h credit.settled_on.nil? ? credit.enabled ? "Active" : "Inactive" : "Settled" %></td>
      <% if authorize_for(:credits, :edit) %>
      <td><%= link_to 'Edit', :controller => :credits, :action => :edit, :id => credit %> | <%= link_to 'Delete', :controller => :credits, :action => :destroy, :id => credit %></td>
      <% end %>
    </tr>
  <% end %>
  <% end %>
  </tbody>
  </table>
  <% end %>
</div>
</span>