<h2><%=l(:label_team) %></h2>

<%= error_messages_for 'member' %>

<div class="splitcontentleft">
  <p>
    <b>Amount:</b>
    <%=h @credit.amount %>
  </p>

  <p>
    <b>Owner:</b>
    <%=h @credit.owner_id %>
  </p>

  <p>
    <b>Workstream:</b>
    <%=h @credit.project_id %>
  </p>

  <p>
    <b>Enabled:</b>
    <%=h @credit.enabled %>
  </p>


  <%= link_to 'Edit', edit_credit_path(@credit) %> |
  <%= link_to 'Back', credits_path %>
</div>


<% html_title(l(:label_team)) %>
