<h2><%=l(:label_confirmation)%></h2>

<div class="gt-content-box"><center>
<p><strong><%= @project.name %></strong><br /><%=l(:text_wiki_destroy_confirmation)%></p>

<% form_tag({:controller => 'wikis', :action => 'destroy', :id => @project}) do %>
<%= hidden_field_tag "confirm", 1 %>
<div class="gt-table-buttons">
<%= submit_tag l(:button_delete), :disable_with => l(:button_working) %>
</div>
<% end %>
</center></div>
