<%= javascript_include_tag  'retro' %>
<%= help_section "retrospective_show" %>
<div align="center">
  <h2>Retrospective #<%= @retro.id %> : <%= @total_points.round %> Credits - <%= render_title_date %></h2>
<% if @user_retro_hash.has_key? User.current.id%>
<%= javascript_tag  'var belongs = true;'%>
<% end %>

<div class="user_retrospective gt-content-box">
  <table class="retrospective">
    <tr><td class="avatar">
      <!-- </td><td class="name"> -->
    </td><td class="title">
    </td><td class="title private hidden">&nbsp;&nbsp;&nbsp;&nbsp;Your <%= help_bubble :help_your_assessment %><br>assessment
    </td><td class="title closed hidden">&nbsp;&nbsp;&nbsp;&nbsp;Team's<%= help_bubble :help_team_assessment %><br>assessment
    </td><td class="title closed hidden">&nbsp;&nbsp;&nbsp;&nbsp;Final <%= help_bubble :help_final_assessment %><br>distribution
    </td><td class="title closed hidden">&nbsp;&nbsp;&nbsp;&nbsp;Accuracy<%= help_bubble :help_accuracy %><br>
    </td><td class="button">
    </td></tr>  
    
<% 
  @user_retro_hash = @user_retro_hash.sort_by {|x| [ x[1]["total_points"] , x[1]["total_ideas"] , x[1]["total_journals"] ] }.reverse
  @user_retro_hash.each do |x|
    user_id = x[0]
    user_retro = x[1]
    # user_retro = @user_retro_hash[user_id]
%>
  <tr><td class="avatar">
    <%= avatar_from_id(user_id) %><br>
    <%= link_to_user_from_id(user_id) %>   
    
    <!-- </td><td class="name"> -->
  </td><td class="stats">
    <strong><%= user_retro["total_points"].round %> credits (<%= user_retro["percentage_points"] %>%)</strong> <br>
    <%= user_retro["total_ideas"] %> ideas <br>      
    <%= user_retro["total_journals"] %> comments <br>      
    <%= user_retro["total_votes"] %> votes <br>      
  </td><td class="percentage private hidden">
    <label id="user_<%= user_id%>_percentage" class="percentage_label"><%= user_retro["given_percentage"] ||=0 %>%</label>
  <br>
  <% if (@retro.status_id == Retro::STATUS_INPROGRESS) %>
  <div id="slider_<%= user_id%>" class="slider slider-per" user_id="<%= user_id%>" per="<%= user_retro["given_percentage"] %>"></div>
<% end %>
  </td><td class="percentage closed">
    <label id="user_<%= user_id%>_percentage"><%= @team_hash[user_id] ||=0 %>%</label>
  </td><td class="percentage closed">
    <label id="user_<%= user_id%>_percentage"><%= @final_hash[user_id] ||=0 %>%</label>
  </td><td class="accuracy closed">
    <label id="user_<%= user_id%>_accuracy"><%= accuracy_display(user_retro["self_bias"],user_retro["scale_bias"]) %></label>
  </td><td class="button">
  </td></tr>  
  <% end %>
  
  <tr class="open"><td class="avatar">
    &nbsp;
    </td><td class="stats">
    <br><strong>Confidence</strong><%= help_bubble :help_confidence %><br><br>
  </td><td class="percentage private hidden">
    <label id="user_0_percentage" class="percentage_label_confidence"><%= @confidence_percentage ||=0 %>%</label>
  <br>
  <div id="slider_confidence" class="slider slider-conf" user_id="0" per="<%= @confidence_percentage %>"></div>
  </td><td class="percentage closed">
    <label id="confidence_percentage">&nbsp;</label>
  </td><td class="percentage closed">
    <label id="confidence_percentage">&nbsp;</label>
  </td><td class="button">
  </td></tr>  
  
<tr class="open"><td class="avatar">
</td><td class="name">
</td><td class="total private hidden" style="text-align:right;">
  Total&nbsp;
</td><td id="total" class="total private hidden">
  0%
</td><td class="button private hidden">
  <a id="change_retro_link_save" href="#" onclick="save_retro(<%= @retro.id  %>)" class="action_button action_button_save" style="color:#fff;text-decoration:none;display:none;">Save</a>
  <label id="success" style="display:none;">Done!</label>
  <div id='saving' class='loading'>saving...</div>  
</td></tr>  

</table>
</div>
</div>
<br><br>

<div align="center">
<h2 class="gt-table-head">Contribution Breakdown  : <%= format_date(@retro.from_date) %> to <%= format_date(@retro.to_date)%></h2>
</div>
  <div class="user_retrospective gt-content-box" align="center">
    <table class="retrospective" style="width:85%" align="center">
      
    <% @retro.issues.each do |issue| %>
      <%= render :partial => "issue_details", :locals => { :issue => issue } %>
    <% end %>
    </table>
    <!-- <br> -->
    <%# user_retro["journals"].each do |journal| %>
    <%#= journal.inspect %>
    <%# end %>    
    <br>
  </div>




<% content_for :sidebar do %>
<!-- <h3><%#= l(:label_activity) %></h3> -->
<br><br>
<div style="overflow-x:auto;" align="center" class="gt-content-box">
  <% @chart_width = @point_totals.length*70 + 50
   @chart_width = 1000 if @chart_width > 1000
   %>
  
  <img src="<%= Gchart.bar(
              :title => 'Contribution Breakdown',
              :data => [@idea_totals, @vote_totals, @journal_totals], 
              :bar_colors => 'EA7235,757668,E3A34D',
              #:horizontal => 'true',
              :stacked => false,
              :orientation => 'vertical', 
              :size => "#{@chart_width}x200",
              :axis_with_labels => 'x',
              :axis_labels => @axis_labels,
              :bar_width_and_spacing => '15,2,10',
              :legend => ['Ideas','Votes','Comments'],
              :custom => "chm=N*f0*,000000,0,-1,11|N*f0*,000000,1,-1,11|N*f0*,000000,2,-1,11&chds=0,#{@max_range}"
              # :custom => 'chma=50,50,50,50|200,200'
              )
    %>"/>
</div>
<br>
<div align="center" class="gt-content-box">
  <img src="<%=  Gchart.pie(:title => 'Credits', 
                 :size => '400x200',
                 :data => @pie_data_points, :labels => @pie_labels_points )
   %>"/> 
 </div>
 <br>
 <div align="center" class="gt-content-box">
   <img src="<%=  Gchart.pie(:title => 'Ideas', 
                  :size => '400x200',
                  :data => @pie_data_ideas, :labels => @pie_labels_ideas )
    %>"/> 
  </div>
  <br>
  <div align="center" class="gt-content-box">
   <img src="<%=  Gchart.pie(:title => 'Comments', 
                  :size => '400x200',
                  :data => @pie_data_journals, :labels => @pie_labels_journals )
    %>"/> 
  </div>
  <br>
  <div align="center" class="gt-content-box">
    <img src="<%=  Gchart.pie(:title => 'Votes', 
                   :size => '400x200',
                   :data => @pie_data_votes, :labels => @pie_labels_votes )
     %>"/> 
</div>
<% end %>

<script>
  var currentUserId = '<%= User.current.id %>';  
  var retroStatus = '<%= @retro.status_id %>';
</script>


