<div class="hentry">
<p class="entry-content">
<%= link_to activity_stream.actor_name, self.send("#{activity_stream.object_type.downcase}_path", activity_stream.actor_id), :class => "author uri" %>
<span class='ActivityStreamVerb'><%= activity_stream.verb.tr('_', ' ') %></span>
  <%#= activity_stream.object_name %>
      <%= activity_stream.object_name %>
  <%#=self.send("#{activity_stream.object.class.name.downcase}_path", activity_stream.object), :rel => 'bookmark', :class => 'object uri' %>

<% if activity_stream.indirect_object_id -%>
  <%= render :partial => 'indirect_object', :locals => {:activity_stream => activity_stream} %>
<% end %>

<%= activity_stream.updated_at.strftime(fmt='%d %b') -%>
</p>
</div>

