<tr class="gt-activity-detail">
  <td class="gt-avatar <%= User.current.logged? && User.current.id == as.actor_id ? 'me' : nil %>"><%= avatar(as.actor_email, :size => '44') %>
    </td>
    <td class="gt-activity-details main">
      <h4 class="long-words gt-activity-header">
      <%= link_to as.actor_name, {:controller => :users, :action => :show, :id => as.actor_id} %>
      <span class='verb'>
        <%= as.verb.tr('_', ' ') %>
      </span>
      <%= link_to_activity(as) %>
      <%= action_times(as.count) %>
      <% if @project.nil? || @project.id != as.project_id %>
        in
        <%=link_to h(as.project_name), :controller => 'projects', :action => 'show', :id => as.project_id  %><% end %>
        <span class="right"><%= refresh_link %></span>
      </h4>
      
      <table class="gt-table gt-user-table activity-item">
        <tbody>
          <tr>
            <!-- <td class="<%#= as.object_type.downcase %> border">&nbsp;</td> -->
            <td class="long-words">
              <h5 class="<%= as.object_type.downcase %> border"><%= link_to title_for_activity_stream(as) , url_for_activity_stream(as), :class => class_for_activity_stream(as) %></h5>
              <span>
                <%= format_activity_description(as.object_description) %>
              </span>
            </td>
          <tr>
        </tbody> 
      </table>
<div class="activity-tag">
&nbsp;&nbsp;<%= since_tag(as.created_at) %> ago in 
<%# if @project.nil? || @project.id != as.project_id %>
	<%= link_to h(as.project_name), :controller => 'projects', :action => 'show', :id => as.project_id  %>
<%# end %>
<%= link_to " - #{as.tracker_name} ##{as.object_id}", url_for_activity_stream(as), {:class => class_for_activity_stream(as)} if as.tracker_name%>

</div>