<tr id="input_comment_<%= as.object_id %>" class="hidden">
  <td class="gt-avatar" id="gravatar_for_comment_<%= as.object_id %>">
    <%= avatar(User.current, :size => "24") %>
    </td>
    <td colspan=2>
      <textarea id="input_comment_textarea_<%= as.object_id %>" rows="3" cols="30" style="width:100%" class="autogrow" autocomplete-mentions-projectid="<%= as.project_id %>" ></textarea>
      <input type="submit" onclick="post_comment(<%= as.object_id %>,'<%= as.object_type.downcase %>');return false;" value="Comment"/>
    </td>
</tr>
<tr id="add_comment_trigger_<%= as.object_id %>">
  <td colspan=3>
    <input type="text" value="Add a comment..." class="activity-comment" onfocus="prepare_input(<%= as.object_id %>);"></input>
  </td>
</tr>