<% if activity_stream_group.length == 1 %>
  <%= render :partial => 'activity_streams/activity_stream', :locals => {:activity_stream => activity_stream_group[0]} %> 
<% else %>

<div class="hentry">
<p class="entry-content">
  <%= link_to activity_stream_group[0].object_name %>
  <br>
  
<% for activity_stream in activity_stream_group %>
  <%= link_to activity_stream.actor_name, self.send("#{activity_stream.object_type.downcase}_path", activity_stream.actor_id), :class => "author uri" %>
<span class='ActivityStreamVerb'><%= activity_stream.verb.tr('_', ' ') %></span>



<% if activity_stream.indirect_object_id -%>
  <%= render :partial => 'indirect_object', :locals => {:activity_stream => activity_stream} %>
<% end %>

<%= activity_stream.updated_at.strftime(fmt='%d %b') -%>
<br>
<% end %>
</p>
</div>

<% end %>

