<tr>
  <td class="gt-avatar">
    <%= avatar(as.actor_email, :size => "24") %>

    </td>
    <td>
    <span class="author"><%= link_to as.actor_name, self.send("#{as.actor_type.downcase}_path", as.actor_id) %></span>
    <span class='verb'><%= as.verb.tr('_', ' ') %> this<%= action_times(as.count) %> <%= since_tag(as.created_at) %> ago</span>
      <% if as.indirect_object_id -%>
      <span class='long-words'>
        <p>
        <%= render :partial => 'activity_streams/indirect_object', :locals => {:as => as} %>
        </p>
      </span>
      <% end %>

  </td>
  <!-- <td  style="width:20%">
        <strong><%#= since_tag(as.created_at) %> ago</strong>
  </td> -->

</tr>
