<div class="hentry">
<h3 class="entry-title"><%= activity_stream.id %></h3>
<p class="entry-content">
<% if activity_stream.actor -%>
  <%= link_to activity_stream.actor_name, self.send("#{activity_stream.actor.class.name.downcase}_path", activity_stream.actor), :class => "author uri" %>
<% else %>
  (deleted)
<% end %>
<span class='ActivityStreamVerb'><%= activity_stream.verb.tr('_', ' ') %></span>
<% if activity_stream.object -%>
  <%= link_to activity_stream.object_name, self.send("#{activity_stream.object.class.name.downcase}_path", activity_stream.object), :rel => 'bookmark', :class => 'object uri' %>
<% else %>
  (deleted)
<% end %>
<% if activity_stream.indirect_object -%>
  <%= activity_stream.indirect_object_phrase.gsub(/indirect_object/, link_to(activity_stream.indirect_object.send(activity_stream.indirect_object_name_method), url_for(activity_stream.indirect_object), :rel => 'bookmark', :class => 'object uri')) %>
<% end %>
(<abbr class="updated" title="<%= activity_stream.updated_at %>"><%= activity_stream.updated_at.strftime(fmt='%d %b') %></abbr>)<%= activity_stream.count > 1 ? ", #{activity_stream.count} times" : '' %>
<% if logged_in? && activity_stream.actor_id == current_user.id && activity_stream.actor_type==ACTIVITY_STREAM_USER_MODEL && params[:format] != 'atom' %>
<%= link_to('x', activity_stream_path(activity_stream, :ref => request.request_uri), :alt=>"Remove", :confirm => "Are you sure you want to Remove this Activity Stream Event from all locations?", :method => :delete) %>
<% end %></p>
</div> <!-- hentry -->

