<h1>Listing team_points</h1>

<table>
  <tr>
    <th>Workstream</th>
    <th>Author</th>
    <th>translation missing: en, field_recipient</th>
  </tr>

<% @team_points.each do |team_point| %>
  <tr>
    <td><%=h team_point.project_id %></td>
    <td><%=h team_point.author_id %></td>
    <td><%=h team_point.recipient_id %></td>
    <td><%= link_to 'Show', team_point %></td>
    <td><%= link_to 'Edit', edit_team_point_path(team_point) %></td>
    <td><%= link_to 'Destroy', team_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team_point', new_team_point_path %>