<STYLE type="text/css">
  * {
  margin:0;
  padding:0;
  }
  body {
  background:url("/images/loginbg.png") repeat-x scroll left top #FFFFFF;
  font-family:Tahoma,Arial,sans-serif;
  height:100%;
  position:relative;
  }


  button, input[type="reset"], input[type="button"], input[type="submit"] {
  -moz-appearance:button;
  -moz-binding:none;
  -moz-box-sizing:border-box;
  -moz-user-select:none;
  background-color:buttonface;
  border:2px outset buttonface;
  color:buttontext;
  cursor:default;
  font:-moz-button;
  line-height:normal !important;
  padding:0 6px;
  text-align:center;
  text-shadow:none;
  white-space:pre;
  }

  #content{
    background-color: transparent;
  }
  img {
  border:0 none;
  }
  #container {
  margin:0 auto;
  width:960px;
/*  margin-top: -80px;*/
  }
  #container .logo {
  margin:218px auto 0;
  width:230px;
  }
  #container #box {
  clear:both;
  float:none;
  margin:50px auto 0;
  width:70%;
  }
  p.main label {
  color:#000000;
  display:inline;
  float:left;
  font-size:13px;
  margin-left:40px;
  margin-right:10px;
  padding:5px;
  }
  #box p {
  clear:both;
  float:none;
  width:100%;
  }
  p.main input {
/*  background:url("/images/input.png") repeat-x scroll 0 0 transparent;*/
  border:1px solid #D3D3D3;
  color:#555555;
  float:left;
  padding:5px;
  width:200px;
  }
  input.login {
  background:url("/images/rep1.png") repeat-x scroll 50% 50% transparent;
  border:1px solid #555555;
  color:#FFFFFF;
  display:inline;
  float:right;
  font-size:12px;
/*  margin-right:35px;*/
  padding:3px 10px;
  text-decoration:none;
  cursor:pointer;
  }
  span {
  color:#666666;
  font-size:13px;
  }
  .space {
  padding-top:15px;
  }
  span input {
  background:none repeat scroll 0 0 #444444;
  border:1px solid #111111;
  color:#FFFFFF;
  margin-left:125px;
  margin-right:5px;
  }
  #top-menu {
    display:none;
  }
  #header {
    display:none;
  }

  .lost{
/*    margin-right:35px;*/
    float:right;
  }

</STYLE>

<!--[if lt IE 20]>
<div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
  <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='/images/static/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
  <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
    <div style='width: 75px; float: left;'><img src='/images/static/ie6nomore-warning.jpg' alt='Warning!'/></div>
    <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
      <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an unsuported browser</div>
      <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please switch to a supported web browser.</div>
    </div>
    <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='/images/static/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
    <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='/images/static/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
    <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='/images/static/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
  </div>
</div>
<![endif]-->

<div id="container">
  <div class="logo">
    <a href="<%= home_url %>"><img src="/images/logo.png" alt=""></a>
  </div>
  <div id="box">
    <% form_tag({:action=> "login"}) do %>
    <p class="main">
    <%= back_url_hidden_field_tag %>
    <label for="username"><%=l(:field_login)%>:</label>
    <%= text_field_tag 'username', nil, :tabindex => '1' %>
    <label for="password"><%=l(:field_password)%>:</label><%= password_field_tag 'password', nil, :tabindex => '2' %>
    </p>
    <% if Setting.openid? %>
    <tr>
      <td align="right"><label for="openid_url"><%=l(:field_identity_url)%></label></td>
      <td align="left"><%= text_field_tag "openid_url", nil, :tabindex => '3' %></td>
    </tr>
    <% end %>

    <p class="space">
      <% if Setting.autologin? %>
      <span><label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => 4 %> <%= l(:label_stay_logged_in) %></label>
        <input type="submit" name="login" class="login" value="<%=l(:button_login)%> &#187;" tabindex="5"/>
      </span>
      <% end %>
    </p>

    <%= link_to l(:label_register), { :controller => 'account', :action => 'register' }, :class => "lost" %>
    <span class="lost">&nbsp;|&nbsp; </span>
    <%= link_to l(:label_password_lost), {:controller => 'account', :action => 'lost_password'}, :class => "lost" %>
    <% end %>


  </div>
</div>
<%= javascript_tag "$('#username').focus();" %>
