<h2 class="gt-form-head"><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<% form_tag({:action => 'register'}, :class => "tabular gt-form gt-content-box") do %>
<%= error_messages_for 'user' %>

<% if @user.auth_source_id.nil? %>
<div class="gt-form-row gt-width-66">
  <label for="user_login"><%=l(:field_login)%> <span class="required">*</span></label>
  <%= text_field 'user', 'login', :size => 25, :class => "gt-form-text" %>
</div>

<div class="gt-form-row gt-width-66">
<label for="password"><%=l(:field_password)%> <span class="required">*</span></label>
<%= password_field_tag 'password', nil, :size => 25, :class => "gt-form-text" %><br />
<p class="gt-form-note"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></p>
</div>

<div class="gt-form-row gt-width-66">
<label for="password_confirmation"><%=l(:field_password_confirmation)%> <span class="required">*</span></label>
<%= password_field_tag 'password_confirmation', nil, :size => 25, :class => "gt-form-text"  %>
<% end %>
</div>

<div class="gt-form-row gt-width-66">
<p><label for="user_firstname"><%=l(:field_firstname)%> <span class="required">*</span></label>
<%= text_field 'user', 'firstname', :class => "gt-form-text" %></p>
</div>

<div class="gt-form-row gt-width-66">
<p><label for="user_lastname"><%=l(:field_lastname)%> <span class="required">*</span></label>
<%= text_field 'user', 'lastname', :class => "gt-form-text" %></p>
</div>

<div class="gt-form-row gt-width-66">
<p><label for="user_mail"><%=l(:field_mail)%> <span class="required">*</span></label>
<%= text_field 'user', 'mail', :class => "gt-form-text"  %></p>
</div>

<div class="gt-form-row gt-width-66">
<p><label for="user_language"><%=l(:field_language)%></label>
<%= select("user", "language", lang_options_for_select) %></p>
</div>

<div class="gt-form-row gt-width-66">
<% if Setting.openid? %>
<p><label for="user_identity_url"><%=l(:field_identity_url)%></label>
<%= text_field 'user', 'identity_url', :class => "gt-form-text" %></p>
<% end %>
</div>

<div class="gt-form-row gt-width-66">
<label><input type="checkbox" id="agreement_checkbox"></input></label>
I have read and agreed to the <a href="/projects/legal/wiki/User_Agreement_for_the_Platform" target="_blank">User Agreement</a> and <a href="/projects/legal/wiki/Open_Enterprise_Governance_Model" target="blank">Open Enterprise Governance Model</a>
</div>

<%= submit_tag l(:button_submit), :onclick => "return check_agreement();" %>
<% end %>

<script type="text/javascript">
function check_agreement(){
  if ($('#agreement_checkbox').is(':checked')){
    return true;
  }
  else{
    alert('Please check Use Agreement box');
    return false;
  }
}
</script>
