<div id="inner-page">
  <div class="container">
   <%= render :partial => '/home/header', :locals => {:page => 'register'} %>
    <div class="clear span-12 last" id="main-inner">
<%= render_flash_messages %>
<div class="gt-login-box">

  <%=RPXNow.embed_code('bettermeans', url_for(:controller=>:accounts, :action=>:rpx_token, :invitation_token => params[:invitation_token], :only_path => false, :protocol => login_protocol()))%>
<% form_tag({:action => 'register'}, :class => "tabular") do %>
<%= error_messages_for 'user' %>

<div class="signup-header">or create an account</div><br>

<% if @user.auth_source_id.nil? %>
<p><label for="user_login"><%=l(:field_login)%> <span class="required">*</span></label>
<%= text_field 'user', 'login', :size => 25 %></p>

<p><label for="password"><%=l(:field_password)%> <span class="required">*</span></label>
<%= password_field_tag 'password', nil, :size => 25  %><br />
<em><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

<p><label for="password_confirmation"><%=l(:field_password_confirmation)%> <span class="required">*</span></label>
<%= password_field_tag 'password_confirmation', nil, :size => 25  %></p>
<% end %>

<p><label for="user_firstname"><%=l(:field_firstname)%> <span class="required">*</span></label>
<%= text_field 'user', 'firstname'  %></p>

<p><label for="user_lastname"><%=l(:field_lastname)%> <span class="required">*</span></label>
<%= text_field 'user', 'lastname'  %></p>

<p><label for="user_mail"><%=l(:field_mail)%> <span class="required">*</span></label>
</p>
<%= text_field 'user', 'mail' %></p>

<div class="gt-form-row">
  <%= submit_tag l(:button_signup), :class => "gt-btn-gray-medium gt-btn-right right", :style => "float:right;", :disable_with => l(:button_working)  %>
  <p>&nbsp;</p>
</div>

<%= hidden_field_tag 'invitation_token', params[:invitation_token] %>
<%= hidden_field_tag 'plan_id', @plan_id %>
<br><br>
<div class="gt-form-row">
  <br>
  <label>By signing up you indicate that you have read and agreed to the <a href="/front/user_agreement.html" target="_blank">User Agreement</a> and <a href="/front/open_enterprise_governance_model.html" target="blank">Open Enterprise Governance Model</a>
  </label>

  </div>

  </div></div></div>


</div>
<% end %>


<script type="text/javascript">
function check_agreement(){
  if ($('#agreement_checkbox').is(':checked')){
    return true;
  }
  else{
    alert('Please check Use Agreement box');
    return false;
  }
}
</script>
