<table border="0" class="gt-table gt-user-table  project-table" id="<%= table_id %>">
    <%   project_tree_sorted(my_projects) do |p, level|
        name_prefix = (level > 0 ? ('&nbsp;' * 2 * level + '&#187; ') : '')
     %>
      <tr><td>
      <%=name_prefix + link_to(h(p), :controller => 'projects', :action => 'show', :id => p)  %><%= volunteering p %><%= privacy p %>
    <% if !p.active? %>
      <% if User.current.allowed_to?({:controller => 'projects', :action => 'unarchive'}, p) %>
        <%= link_to_remote(l(:label_unarchive_project_brackets), :url => {:controller => 'projects', :action => 'unarchive', :id => p, :table_id => table_id}, :confirm => l(:text_confirm_unarchive_project)) %>
      <% else  %>
        (archived)
      <% end %>
    <% end %>
        <% array = p.activity_line_show(30) %>
        <!-- </td><td> -->
        <span class="spark right" max="<%=  p.activity_line_max %>"><%= p.activity_line_show(30) %></span>
        </td></tr>
      <% end %>
</table>
