    <ul>
    <li><p><span style="float:right;width:35%">$<%= plan.amount.round %> monthly</span><span style="float:right;width:65%">Cost</span></p>
    </li>
    <li><p><span style="float:right;width:35%"><%= describe plan.storage_max %> GB</span><span style="float:right;width:65%">Storage</span></p>
    </li>
    <li><p><span style="float:right;width:35%"><%= describe plan.private_workstream_max %></span><span style="float:right;width:65%">Private Workstreams</span></p>
    </li>
    <li><p><span style="float:right;width:35%"><%= describe plan.contributor_max %></span><span style="float:right;width:65%">Private Collaborators</span></p>
    </li>
    <li><p><span style="float:right;width:35%"><%= describe plan.public_workstream_max %></span><span style="float:right;width:65%">Public Workstreams</span></p>
    </li>
    <li><p><span style="float:right;width:35%">unlimited</span><span style="float:right;width:65%">Public Collaborators</span></p>
    </li>
    </ul>
