<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>General</h3>
  <ul>
  <li><p><span style="float:right;width:70%"><%= @user.login %></span><span style="float:right;width:30%"><%=l(:field_login)%></span></p>
  </li>
  <li><p><span style="float:right;width:70%"><%= format_time(@user.created_at) %></span><span style="float:right;width:30%"><%=l(:field_created_at)%></span></p>
  </li>
  <li>
  </li>
  </ul>
</div>
<h3><%= l(:label_current_plan) %></h3>
<%= render :partial => "usage_stats" %>
<%= upgrade_options User.current %>
