<div class="gt-sidebar-nav gt-sidebar-nav-blue">
  <h3>General</h3>
  <ul>
  <li><p><span style="float:right;width:70%"><%= @user.login %></span><span style="float:right;width:30%"><%=l(:field_login)%></span></p>
  </li>
  <li><p><span style="float:right;width:70%"><%= format_time(@user.created_at) %></span><span style="float:right;width:30%"><%=l(:field_created_at)%></span></p>
  </li>
  <li>
    <%#= link_to l(:label_project_new), {:controller => 'projects', :action => 'add', :parent_id => @project} %>
  </li>
  </ul>
</div>

<%= render :partial => "usage_stats" %>
<%#= upgrade_options User.current %>

<!-- <h3><%#= l(:label_feeds_access_key) %></h3>

<p>
<%# if @user.rss_token%>
<%#= l(:label_feeds_access_key_created_at, distance_of_time_in_words(Time.now, @user.rss_token.created_at)) %>
<%# else %>
<%#= l(:label_missing_feeds_access_key) %>
<%# end %>
(<%#= link_to l(:button_reset), {:action => 'reset_rss_key'}, :method => :post %>)
</p> -->

<!-- <%# if Setting.rest_api_enabled? %>
<h3><%#= l(:label_api_access_key) %></h3>
<p>
  <%#= link_to_function(l(:button_show), "$('api-access-key').toggle();")%>
  <pre id='api-access-key' class='autoscroll'><%= @user.api_key %></pre>
</p>
<%#= javascript_tag("$('api-access-key').hide();") %>
<p>
<%# if @user.api_token %>
<%#= l(:label_api_access_key_created_at, distance_of_time_in_words(Time.now, @user.api_token.created_at)) %>
<%# else %>
<%#= l(:label_missing_api_access_key) %>
<%# end %>
(<%#= link_to l(:button_reset), {:action => 'reset_api_key'}, :method => :post %>)
</p>
<%# end %> -->
