<% form_for :user, @user, :url => { :action => "upgrade" }, 
                          :builder => TabularFormBuilder, 
                          :lang => current_language,
                          :html => { :id => 'my_upgrade_form' } do |f| %>
                          
<h3><%=l(:label_select_plan)%></h3>
<!-- <div class="gt-content-box"> -->
<%= render :partial => 'plan_descriptions', :locals => {:current_plan => User.current.plan} %>
<div class="gt-table-buttons-inside" id="change_plan_button">
<%= submit_tag l(:button_change_plan), :disable_with => "changing plan..." %>
</div>

<!-- </div> -->
<div class="clear">
  <h3><%=l(:label_billing_information)%></h3>
  <div class="gt-content-box tabular">
  <%= render :partial => 'billing_form', :locals => {:f => f} %>
    <div class="gt-table-buttons-inside" id="change_plan_button">
    <%= submit_tag l(:button_update_billing), :disable_with => "updating..." %>
    </div>
  </div>
</div>

<% end %>

<% content_for :sidebar do %>
<%= render :partial => "usage_stats" %>
<% end %>