<% if User.current.logged? %>
  welcome <strong><%= link_to_user(User.current, :format => :username) %></strong>
  <span class="gt-util-separator">|</span>
  <%= render :partial => "notifications/unresponded" %>    
  <%#= link_to "home", :home %>
  <!-- <span class="gt-util-separator">|</span> -->
  <!-- <%#= link_to "my page", {:controller => :my, :action => :page} %>
  <span class="gt-util-separator">|</span> -->
  <%= link_to "account", {:controller => :my, :action => :account} %>
  <span class="gt-util-separator">|</span>
  <%= link_to "sign out", :signout %>
<% else %>  
  <%= link_to "home", :home %>
  <span class="gt-util-separator">|</span>
  <%= link_to :login, :signin %>
  <span class="gt-util-separator">|</span>
  <%= link_to "sign up", {:controller => :account, :action => :register} %>
<% end %>

<!-- 
  menu.push :projects, { :controller => 'projects', :action => 'index' }, :caption => :label_enterprise_plural
  menu.push :activity, { :controller => 'activity', :action => 'index' }
  menu.push :administration, { :controller => 'admin', :action => 'index' }, :if => Proc.new { User.current.admin? }, :last => true
  #menu.push :help, Redmine::Info.help_url, :last => true
end -->
