<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<link rel="shortcut icon" href="/images/favicon.ico"  mce_href="/images/favicon.ico" />



<%= stylesheet_link_tag 'reset-fonts' %>
<%= stylesheet_link_tag 'jquery.fancybox-1.3.0' %>
<%= stylesheet_link_tag 'jquery-ui-1.7.2.custom' %>
<%= stylesheet_link_tag 'gt-styles' %>
<%= stylesheet_link_tag 'headerandfooter.css' %>

<link href="/stylesheets/bubbletip.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link href="/stylesheets/bubbletip-IE.css" rel="stylesheet" type="text/css" />
<![endif]-->


<%= javascript_include_tag :defaults %>
<%= javascript_include_tag  'jquery-ui-1.7.2.custom.min' %>
<%= javascript_include_tag  'jquery.jgrowl_minimized.js' %> <!-- TODO: include this in defaults -->
<%= javascript_include_tag  'jquery.scrollTo-min' %>
<%= javascript_include_tag  'jquery.fancybox-1.3.0.pack' %>
<%= javascript_include_tag  'jquery.sparkline.min' %>
<%= javascript_include_tag  'store' %>
<!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
    </style>
<![endif]-->
<!-- page specific tags -->
<%= yield :header_tags -%>
</head>
<body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1630609-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= javascript_tag "$(document).ready(function() {initialize();});"%>

<!-- head -->
<div class="gt-hd clearfix">
	<!-- leaf watermark -->
	<div class="gt-leaf-watermark clearfix">
	
	<!-- head top -->
	<div class="gt-hd-top clearfix">
	
		<div class="gt-fixed-wrap clearfix">
	
		<!-- logo -->
		<div class="gt-logo">
      <!-- <a href="/" style="text-decoration:none;">
      <img width="23" height="22" src="/images/static/logo_icon.png" class="gt-leaf left"></a>
      </a> -->
		  <%= link_to("Home", {:controller => 'welcome', :action => 'index'}, :class => 'root') %>&nbsp;&#187;
			<%= page_header_title %>
			<%= render_project_jump_box %>
		</div>
		<!-- / logo -->
		
		<!-- utility box -->
		<div class="gt-util-box">
		  <div class="gt-util-box-inner">
      <%= render :partial => "layouts/account_menu" -%>
			</div>
			<%= yield :buttonbar %>
		</div>
		<!-- / utility box -->		
		</div>
	
	</div><!-- /head top -->
	
	<!-- navbar -->
	<div class="gt-navbar clearfix">
	
		<div class="gt-fixed-wrap clearfix">
		
		<!-- navigation -->
		<div class="gt-nav">
		  <% if @project && !@project.new_record? %>
		    <%= render_main_menu(@project) %>
		  <% else %>
		  	<% if (has_content?(:mainmenu)) %>
		      <%= yield :mainmenu %>
	      <% else %>
		      <ul><li><a href="#" style="opacity:0;">.</a></li></ul> <!-- placeholder to maintain height of bar -->
	      <% end %>
		  <% end %>
		</div><!-- / navigation -->
		
		<!-- search -->
		<% if (!has_content?(:searchbar)) %>
    
		<div class="gt-search gt-search-wide">
		  <div class="gt-search-inner">
		  <% form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
      <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
      <%#= link_to "#{l(:label_search)}:", {:controller => 'search', :action => 'index', :id => @project}, :id=> "search-label", :accesskey => accesskey(:search) %>
      <%= text_field_tag 'q', @question, :size => 20, :class => 'gt-search-text', :onfocus => "javascript:if(this.value=='Search')this.value='';", :onblur=> "javascript:if(this.value=='')this.value='Search';", :accesskey => accesskey(:quick_search) %>
      
      <% end %>
		  </div>
		</div>
		<% else %>
		  <%= yield :searchbar %>		
		<% end %>
		
		</div>
	</div><!-- /navbar -->			
</div><!-- /leaf watermark -->
</div>
<!-- / head -->

<!-- body -->
<%= tag('div', {:id => 'main', :class => (has_content?(:sidebar) ? 'gt-bd gt-cols clearfix' : 'gt-bd clearfix')}, true) %>
	
	<!-- main content -->
	<div class="gt-content" id="content">
  		<%= render_flash_messages %>
      <%= yield %>
	</div>
	<!-- / main content -->

	
	<!-- sidebar -->
  <% if (has_content?(:sidebar)) %>
	    <div class="gt-sidebar">
          <%= yield :sidebar %>
      </div>
  <%   end   %>
	<!-- / sidebar -->
	
</div>
<!-- / body -->


<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>


<% if (has_content?(:footer)) %>
  <%= yield :footer %>
<% else %>
  <%= render :partial => '/home/footer' %>
<% end %>


    

</body>
</html>